.individual-item-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 0.3s ease-in-out;
  display: flex;
  width: 70%;

  align-items: center;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.individual-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.individual-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.individual-description {
  font-size: 1rem;
  margin-bottom: 15px;
}

.individual-price {
  font-size: 1.25rem;
  color: #4caf50;
  margin-bottom: 10px;
}

.individual-rating {
  font-size: 1rem;
  color: #ff9800;
  margin-bottom: 15px;
}

.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  padding: 2rem;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

.quantity-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 1.3rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  text-align: center;
}

.add-cart-btn {
  background-color: #2196f3;
  width: 30%;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
}

.add-cart-btn:active {
  background-color: #0e75a7;
  transform: translateY(4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.add-cart-btn:hover {
  background-color: #1565c0;
}

#minus:disabled,
#plus:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#plus,
#minus {
  border: none;
  background: none;
  width: 60px;
  height: 60px;
}

.quantity-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.quantity-icon:active {
  transform: scale(0.9);
}
