* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4vh;
}

.logo {
  text-decoration: none;
  color: #333;
  font-size: calc(1.1rem + 1vw);
  font-weight: bold;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 1rem;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 12px;
  margin-right: 5px;
  flex-grow: 1;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#search-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.search-input button:hover {
  background-color: #2980b9;
}
.search-input button:active {
  transform: scale(0.95);
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff6f61;
}
.nav-home,
.nav-shop {
  display: flex;
  align-items: center;
  font-size: calc(0.4rem + 1vw);
}

.cart-icon {
  font-size: calc(1rem + 1vw);
}

.menu-icon {
  font-size: calc(1.5rem + 1vw);
  cursor: pointer;
}

.menu-icon:active {
  transform: scale(0.8);
}

.nav-cart {
  position: relative;
  display: flex;
  justify-content: start;
  padding: 12px;
}

.nav-cart-quantity {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  color: #fff;
}

#toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: calc(0.5rem + 1vw);
}
