.shop-cotainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  align-items: center;
}

.shop-items-container {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shop-items-container > * {
  flex: 1;
  height: 60%;
}
