.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.side-link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 15px;
  transition: color 0.3s ease-in-out;
}

.sidenav-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: calc(0.5rem + 1vw);
}

.sidemenu-icons {
  font-size: 2rem;
  cursor: pointer;
}

.sidemenu-icons:active {
  transform: scale(0.9);
}
