.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  background-color: #8effa0;
  color: #1a1a1a;
}

.back-to-home-link {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.back-to-cart-link:hover {
  background-color: #000000;
}

@media all and (max-width: 1000px) {
  .success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #8effa0;
    color: #1a1a1a;
  }
}
